<!DOCTYPE html>
<html>
        <head>
                <title>Price Tracker</title>
        </head>
        <body>
		<h1><div style="text-align:center"><font color="blue">Welcome User</font></div></h1>
		<hr>
		<form>
			<label for="link">Enter the Link to track</label>
			<input id="link" type="text" name="Link" placeholder="Enter the Link">
			<button id="track" type="button" disabled>Track</button>
		</form>
		<hr>
		<!---<div id="items">
			{%for i in range(0,len(name))%}
			<h2>{{name[i]}}</h2>
			<p>{{price[i]}}</p>
			{%endfor%}-->
		</div>
		<hr>
	</body>
</html>